:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --blue: #3685fe;
}

@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

body {
    background-color: var(--light-gray);
    font-family: "Outfit", sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 410px;
    border-radius: 15px;
    background-color: var(--white);
    margin: auto;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
    position: relative;
    top: calc(50vh - 205px);
}

#qr-container {
    margin: 13px;
    border-radius: 10px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
}

#qr-img {
    width: 130px;
    height: 130px;
}

#text {
    margin: -10px 18px 10px 18px;
    text-align: center;
}

#main-text {
    font-size: 19px;
    font-weight: 900;
    color: var(--dark-blue);
}

#sub-text {
    font-size: 13px;
    font-weight: 400;
    color: var(--grayish-blue);
    position: relative;
    top: -5px;
}